@import "partials/reset";
@import "partials/fonts";
@import "partials/spacing";
@import "partials/colors";
@import "partials/buttons";
@import "partials/mixins";

body {
  font-family: $main-font, sans-serif;
}

h1 {
  @include title-big($text-color);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $bg-hero;
}

header {
  background-color: lighten($color-btn-1, 10%);
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      gap: 20px;
      li {
      }
    }
  }
}
