.btn-base {
  width: 100px;
  height: 45px;
  display: inline-block;
  color: $text-color;
  cursor: pointer;
}

.btn-1 {
  @extend .btn-base;
  background-color: $color-btn-1;
}

.btn-2 {
  @extend .btn-base;
  background-color: $color-btn-2;
}

.btn-3 {
  @extend .btn-base;
  background-color: $color-btn-3;
}
